/* 1024px */
@media (min-width: 1024px) {
    body {
        margin: 0 auto;
        width: 60%;
        box-shadow: 0px 0px 35px 1px rgb(172, 172, 172);
    }
    .logo {
        padding: 0;
        width: 100%;
    }
}

/* 740px à 1024px */
@media (min-width: 740px) and (max-width: 1024px) {
    body {
        box-shadow: 0px 0px 35px 1px rgb(172, 172, 172);
    }

}
/* 320px à 740px */
@media (min-width: 320px) and (max-width: 740px) {
    body {
        margin: 0 auto;
    }
    /* Début header */
    nav {
        height: 20vh;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .menu {
        display: none;
    }
    /* Section titre */
    .titre {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .titre div:first-child {
        display: flex;
        justify-content: center;
    }
    .titre div:last-child {
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 1rem;
    }
    /* Début sections explications */
    #eclo-imgtxt,
    #evo-imgtxt,
    #envol-imgtxt {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #eclo-img img,
    #evo-img img,
    #envol-img img {
        width: 60%;
        padding-bottom: 20px;
    }

    /* Début footer */
    .ftr-container {
        display: inline-flex;
        flex-direction: column;
    }
    .ftr-packs,
    .ftr-outils {
        display: inline-flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    h4 {
        padding-right: 20px;
    }
}