/* Font family +  */
@font-face {
    font-family: "Ubuntu";
    src: url('../fontfamily/Ubuntu-Light.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    width: 100%;
}

/* Début nav */
nav {
    background-color: #1A1A1D;
    color: white;
    height: 20vh;
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: end;
    align-items: center;
}

.logo img {
    padding-left: 10px;
    width: 50%;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.menu img {
    width: 50px;
}

/* Fin nav */

/* Début titre principal */
.titre {
    background-color: #334D5C;
    color: white;
    height: 50vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    justify-content: center;
    align-items: center;
}

.titre div:first-child {
    display: grid;
    justify-content: end;
}

.titre div:last-child {
    display: grid;
    justify-content: start;
    padding-left: 15%;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: 15px;
}

/* Fin titre principal */

/* Début Sections explications */
#eclo-titre,
#evo-titre,
#envol-titre {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#eclo-titre h1, #evo-titre h1, #envol-titre h1 {
    background-color: #334D5C;
    display: inline;
    color: white;
    padding: 0 40px;
    margin-bottom: 20px;
}

.eclosion,
.evolution,
.envol {
    margin: 40px 0;
}

#eclo-imgtxt,#evo-imgtxt,#envol-imgtxt {
    display: grid;
    grid-template-columns: 40% 1fr;
}

#eclo-img,
#evo-img,
#envol-img {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#eclo-img img,
#evo-img img,
#envol-img img {
    width: 60%;
}
/* Fin Sections explication */
main p {
    font-size: 15px;
    padding: 10px 7%;
    /* pour tous les p de main (texte explications + txt sous logo */
}
/* Regroupement section LIENS */
main section:nth-child(3), main section:nth-child(5), main section:nth-child(7) {
    background-color: #EAE3D6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

main section:nth-child(5) {
    flex-wrap: wrap;
}

main section:nth-child(3) img, main section:nth-child(5) img, main section:nth-child(7) img {
    width: 70px;
}

/* Fin Section LIENS */

/* Début footer */
footer {
    background-color: #393A3B;
    color: white;
    padding-top: 40px;
    padding-bottom: 25px;
}

.ftr-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ftr-packs, .ftr-outils, .ftr-social {
    display: grid;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 60px;
    padding-right: 10px;
}

.ftr-container h4 {
    padding-bottom: 20px;
}

#conditions {
    display: flex;
    justify-content: end;
    padding-right: 15px;
}